

  <form>
    <label for="url">Test URL</label>
    <input type="text" id="url" name="url" placeholder="Test URL" />
    <button>Start Test</button>
  </form>


  <h2>Results</h2>

  <ul id="legend">
    <li class="incomplete">Running</li>
    <li class="passed">Passed</li>
    <li class="failed">Failed</li>
  </ul>

  <ol id="results">
  </ol>



