
  <p id="family_warning">
    <a href="#" id="hide_family_warning">Hide</a>
    <strong>Warning:</strong> You have joined a family.  Only join families
    that you fully trust - family members can run any Javascript code they wish.
    Dangers include stealing personal info, attempted impersonation of
    yourself, installing software unknowingly, loading illicit sites,
    and using all of your bandwidth.
  </p>


  <form>
    <label for="url">Job Address</label>
    <input type="text" id="url" name="url" placeholder="Job Address" />
    <button>Start Job</button>
  </form>


  <h2>Results</h2>

  <ul id="legend">
    <li class="incomplete">Running</li>
    <li class="passed">Passed</li>
    <li class="failed">Failed</li>
  </ul>

  <ol id="results">
  </ol>


  <script src="/scripts/test_mob.js"></script>
  <script src="/scripts/job_runner.js"></script>
  <script src="/scripts/job_loader.js"></script>
  <script src="/scripts/boss.js"></script>
  <script src="/scripts/family.js"></script>

