    <footer>
      <a href="https://shanetomlinson.com">Shane Tomlinson</a> &copy; <%- new
      Date().getFullYear() %>
    </footer>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <%- cachify_js("/production/main.min.js") %>
  <script src="https://login.persona.org/include.js"></script>
</body>
</html>


