
TestMob is a distributed unit test system loosely based on <a href="http://ejohn.org">John Resig&apos;s</a> project <a href="http://testswarm.com">TestSwarm</a>.  Manual unit testing Javascript across a variety of OS&apos;s, browsers and devices is a very time consuming process.  TestMob allows many clients to join the mob. As soon as a request to kick off a test comes in, all available clients begin to run the tests.  When a client completes the suite the results are sent back to the initiator.

<form method="post" action="/join_family">
  <label for="family_name">Family Name</label>
  <input type="text" id="family_name" name="family_name" placeholder="Family Name" />

  <ul id="client_type_menu">
    <li><a href="/join_family" class="button">Join the family</a></li>
  </ul>
</form>


