<p>
TestMob is a distributed Javascript unit test system. Manual unit testing
Javascript across a variety of OS&apos;s, browsers and devices is painfully
difficult and time consuming.  By starting or becoming a member of a family,
TestMob makes this easy for you - all available members come to your aid.
Whenever a family member asks for help, available family members do the
neccessary job and report back. Easy, a distributed test syndicate.
</p>

<form method="post" action="/join_family" id="join_family">
  <label for="family_name">Family Name</label>
  <input type="text" id="family_name" name="family_name" placeholder="Family Name" />
  <button class="button">Join the family</button>
</form>


