

  <form>
    <label for="url">Test URL</label>
    <input type="text" id="url" name="url" placeholder="Test URL" />
    <button>Start Test</button>
  </form>


  <h2>Results</h2>

  <ol id="results">
  </ol>

  <script src="/scripts/index.js"></script>

