<!DOCTYPE html>
<html>
<head>
  <title>TestMob <% if(typeof title !== "undefined") { %> - <%= title %><% } %></title>
  <script src="https://browserid.org/include.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/ejs.js"></script>
  <script src="/lib/extensions.js"></script>
  <script src="/lib/aframe-0.0.71-jquery.js"></script>
  <script src="/lib/hub.js"></script>
  <script src="/scripts/core/test_mob.js"></script>
  <script src="/scripts/core/class.js"></script>
  <script src="/scripts/core/dom.js"></script>
  <script src="/scripts/core/helpers.js"></script>
  <script src="/scripts/core/ajax.js"></script>
  <script src="/scripts/core/mediator.js"></script>
  <script src="/scripts/core/model.js"></script>
  <script src="/scripts/core/module.js"></script>
  <script src="/scripts/core/module_manager.js"></script>
  <script src="/scripts/core/renderer.js"></script>
  <script src="/scripts/core/templates.js"></script>
  <script src="/scripts/core/tooltip.js"></script>

  <script src="/scripts/models/authentication.js"></script>
  <script src="/scripts/models/test.js"></script>

  <script src="/scripts/views/authentication.js"></script>
  <script src="/scripts/views/test.js"></script>

  <script src="/scripts/start.js"></script>
  <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div id="wrapper">
    <header>
      <span class="right" id="authentication">
        <% if (typeof email !== "undefined") { %>
          Hi <span id="email"><%= email %></span>,
          <a href="#" id="signout">Sign Out</a>
        <% } else { %>
          <a href="#" id="signin">Sign In</a>
        <% } %>
      </span>
      <hgroup>
        <h1><a href="/">TestMob</a></h1>
        <h2> - Javascript Unit Testing, Mob Style</h2>
      </hgroup>

      <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/use">How to use</a></li>
        <li><a href="https://github.com/stomlinson/testmob" target="_blank">Source</a></li>
      </ul>
    </header>

    <% if(typeof title !== "undefined") { %>
      <h3><%= title %></h3>
    <% } %>

    <%- body %>

    <footer>
      <a href="http://www.shanetomlinson.com">Shane Tomlinson</a> &copy; 2012
    </footer>
  </div>
</body>
</html>

