<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <script type="text/javascript" src="/lib/jquery.min.js"></script>
  <script type="text/javascript" src="/lib/ejs.js"></script>
  <script type="text/javascript" src="/lib/winchan.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/scripts/testrunner.js"></script>
</head>
<body>
  <h1>Test Runner</h1>

  <h2>Results</h2>

  <ul id="results">
  </ul>
</body>
</html>
