
  <h2>Tests Run</h2>

  <ul id="legend">
    <li class="incomplete">Running</li>
    <li class="passed">Passed</li>
    <li class="failed">Failed</li>
  </ul>

  <ul id="results">
  </ul>

  <script type="text/javascript" src="/scripts/test_swarm.js"></script>
  <script type="text/javascript" src="/scripts/loader.js"></script>
  <script type="text/javascript" src="/scripts/test_runner.js"></script>
