
<ol id="steps">
  <li>Include the following snippet in your unit tests after all of your
  included unit tests:
    <p>
      <code>
        &lt;script src="http://testmob.org/include.js"&gt;&lt;/script&gt;
      </code>
    </p>
  </li>

  <li>
    Open up a browser which will act as the "boss". The boss does not run
    tests but initiates a job and collects results. Open
    <a href="/" target="_blank">http://testmob.org</a> and start a family.

    <a target="_blank" href="https://skitch.com/set117/g65ur/enter-family-name">
      <img src="https://img.skitch.com/20120205-rjtraan1rremdipnnbg63d2hhs.medium.jpg"
      alt="enter family name" />
    </a>
  </li>

  <li>
    Open up a second browser which will act as an "associate".  Associates do jobs.
  </li>


  <li>
    Open <a href="/" target="_blank">http://testmob.org</a>. Join the same
    family as the boss.

    <a target="_blank" href="https://skitch.com/set117/g65tj/testmob-family-syndicated">
      <img
      src="https://img.skitch.com/20120205-tdigf95sude5h6bst2tye7ukhs.medium.jpg"
      alt="family name displayed" />
    </a>
  </li>

  <li>
    Return to the boss. Enter the "Job Address" (unit test address) .  Start
    the job.

    <a target="_blank" href="https://skitch.com/set117/g65tw/testmob-enter-test-address">
      <img
      src="https://img.skitch.com/20120205-m15374urq5937j6qr1qete3sq2.medium.jpg"
      alt="enter test address" />
    </a>
  </li>

  <li>
    Watch the results flow in.

    <a target="_blank" href="https://skitch.com/set117/g651e/testmob-tests-running">
      <img
      src="https://img.skitch.com/20120205-m196acx1ydhp4sn1gcjhmgcbgh.medium.jpg"
      alt="tests are still running" />
    </a>
  </li>

  <li>
    Handle results accordingly.
    <a target="_blank" href="https://skitch.com/set117/g651s/testmob-tests-complete">
      <img
      src="https://img.skitch.com/20120205-xf97ctxc18yk4e4fmx3gmt8fxg.medium.jpg"
      alt="tests have completed" />
    </a>
  </li>

</ol>




<h4>Caveats</h4>

<ul>
  <li>TestMob currently can only be used with <a
  href="ihttp://docs.jquery.com/Qunit">QUnit</a>.</li>
  <li>Unit Tests must be reachable by all members of the family</li>
</ul>


