@font-face {
  font-family: 'Chunkfive';
  src: url('../fonts/Chunkfive-webfont.eot'); /* IE 5-8 */
  src: local('☺'),             /* sneakily trick IE */
        url('../fonts/Chunkfive-webfont.woff') format('woff'),    /* FF 3.6, Chrome 5, IE9 */
        url('../fonts/Chunkfive-webfont.ttf') format('truetype'), /* Opera, Safari */
        url('../fonts/Chunkfive-webfont.svg#font') format('svg'); /* iOS */
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font: 15px/1.5 Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
}

body {
  background-color: #C6B9AC;
  color: #333;
}

header, footer {
  display: block;
}

#wrapper > header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#wrapper > footer {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 20px;
}

a {
  color: #549FDC;
  text-decoration: 1px 1px 0 rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

hgroup {
  line-height: 22px;
  text-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Chunkfive"
}

h1 {
  font-size: 1.5em;
}

h1 > a {
  text-decoration: none;
  color: #ff8200;
  font-size: 2.2em
}

h2 {
  font-size: 1.2em;
}

ul, ol {
  font-size: small;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

input[type=text] {
  border-radius: 4px;
  padding: .5em;
  box-shadow: 0 0 1px 1px #ccc inset;
  border: 1px solid #aaa;
}

button,
.button {
    font-size: 14px;
    height: 28px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #37A6FF;
    font-family: 'Droid Serif', Georgia, serif;
    color: #fff;
    text-shadow: -1px -1px 0 #37A6FF;
    text-transform: lowercase;
    cursor: pointer;

    -webkit-box-shadow: 0 0 0 1px #76C2FF inset;
       -moz-box-shadow: 0 0 0 1px #76C2FF inset;
         -o-box-shadow: 0 0 0 1px #76C2FF inset;
            box-shadow: 0 0 0 1px #76C2FF inset;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;

    background-color: #37A6FF;
    background-image: -moz-linear-gradient(center top , #76C2FF 0pt, #37A6FF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76C2FF), color-stop(100%, #37A6FF));
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: #76c2ff;
    background-image: -moz-linear-gradient(center top , #76C2FF 50%, #37A6FF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #76C2FF), color-stop(100%, #37A6FF));

}

button:active,
.button:active {
    background-color: #006EC6;
    border: 1px solid #003E70;
    color: #EEEEEE;
    text-shadow: -1px -1px 0 #006EC6;

    -webkit-box-shadow: 0 0 5px #003763 inset;
       -moz-box-shadow: 0 0 5px #003763 inset;
         -o-box-shadow: 0 0 5px #003763 inset;
            box-shadow: 0 0 5px #003763 inset;

    background-image: -moz-linear-gradient(center top , #3AA7FF 0%, #006EC6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3AA7FF), color-stop(100%, #006EC6));
}

button::-moz-focus-inner, .button::-moz-focus-inner {
  padding: 0;
  border: 0
}

button[disabled] {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5;
}

code {
  background-color: #f7f7f7;
  border-radius: 5px;
  color: #77c877;
  padding: 10px 20px;
}


.right {
  float: right;
}

.left {
  float: left;
}

#wrapper {
  margin: 0 auto;
  padding: 25px;
  background: #fff;
  box-shadow: 0pt 0pt 15px 5px rgba(0, 0, 0, 0.3);
}

#signin {
  width: 79px;
  height: 22px;
  display: inline-block;
  text-indent: -9999px;
  background-image: url("/img/sign_in_blue.png");
}

nav > ul {
  font-family: "Chunkfive"
}

nav > ul > li {
  display: inline-block;
  margin-right: 20px;
}

form#join_family {
  margin-top: 20px;
}

#family_warning {
  border: 1px solid #777;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px red;
  padding: 20px 30px;
  margin-bottom: 25px;
  display: none;
}

#hide_family_warning {
  float: right;
  margin-top: -15px;
  margin-right: -20px;
}

li.incomplete {
  background-color: #d2e0e6;
}

li.passed {
  background-color: #cee74b;
  color: #528CE0;
}

li.failed {
  background-color: #ee5757;
}

li.force_stopped {
  background-color: #ffff73;
}

li .stop {
  display: none;
}

li.incomplete .stop {
  display: inline-block;;
}

#legend {
  display: inline-block;
  font-size: 0.8em;
}

#legend > li {
  display: inline;
  padding: 5px;
}

#results_section {
  margin-top: 25px;
  display: none;
}

.tests #results_section {
  display: block;
}

#results > ol {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-top: 20px;
}

#results > ol:last-child {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#results > ol > li {
  border-bottom: 1px solid #FFFFFF;
  padding: 0.4em 1em 0.4em 1.5em;
  list-style-position: inside;
}

#results > ol > li:first-child {
  border-radius: 5px 5px 0 0;
}

#results > ol > li:last-child {
  border-radius: 0 0 5px 5px;
}

#results > ol > li > h3 {
  display: inline-block;
}

#results > ol > li > .failures {
  background: #ccc;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 3px 3px 10px 0 #555;
  overflow: hidden;
  margin-top: 0.5em;
  display: none;
  padding: 1em;
}

#results > ol > li.failed > .failures {
  display: block;
}

#results > ol > li > .failures > ul > li {
  list-style-type: none;
}

.test_frame {
  position: absolute;
  top: -2000px;
  width: 100%;
  height: 500px;
}

#steps > li {
  margin-bottom: 20px;
}

#steps > li > a > img {
  margin-top: 20px;
  border-radius: 3px;
  display: block;
}


