/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@media screen and (min-width: 840px) {
  #wrapper {
    margin-top: 50px;
    width: 840px;
    padding: 50px;
  }

  input[type=text] {
    width: 500px;
  }


  #steps > li > a > img {
    width: 638px;
  }

  #family_name {
    width: 50%;
    margin-right: 10px;
  }
}
