/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@media screen and (max-width: 640px) {
  hgroup {
    line-height: inherit;
    clear: right;
  }

  label {
    display: block;
  }

  input[type=text] {
    width: 100%;

  }

  button {
    margin-top: 10px;
  }

  nav > ul {
    font-size: medium;
    text-align: center;
  }

  nav > ul > li {
    display: block;
  }

  #steps > li > a > img {
    width: 100%;
  }
}
