/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@media screen and (max-width: 640px) {
  hgroup {
    clear: right;
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
  }

  hgroup h2 {
    font-size: 100%;
  }

  label {
    display: block;
  }

  input[type=text] {
    width: 100%;

  }

  button {
    margin-top: 10px;
  }

  nav > ul {
    font-size: medium;
  }

  nav > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  nav > ul > li {
    float: left;
    clear: right;
  }

  nav > ul > li.even {
    float: right;
  }

  #steps > li > a > img {
    width: 100%;
  }
}
